In [1]:
import pandas as pd
import numpy as np
import re
from collections import Counter 
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer

In [2]:
df = pd.read_json("./train.json")
#df.head(2)

,bathrooms,bedrooms,building_id,created,description,display_address,features,latitude,listing_id,longitude,manager_id,photos,price,street_address,interest_level
4,1.0,1,8579a0b0d54db803821a35a4a615e97a,2016-06-16 05:55:27,Spacious 1 Bedroom 1 Bathroom in Williamsburg!...,145 Borinquen Place,"[Dining Room, Pre-War, Laundry in Building, Di...",40.7108,7170325,-73.9539,a10db4590843d78c784171a107bdacb4,[https://photos.renthop.com/2/7170325_3bb5ac84...,2400,145 Borinquen Place,medium
6,1.0,2,b8e75fc949a6cd8225b455648a951712,2016-06-01 05:44:33,BRAND NEW GUT RENOVATED TRUE 2 BEDROOMFind you...,East 44th,"[Doorman, Elevator, Laundry in Building, Dishw...",40.7513,7092344,-73.9722,955db33477af4f40004820b4aed804a0,[https://photos.renthop.com/2/7092344_7663c19a...,3800,230 East 44th,low

In [3]:
#df['features'].head(20)

# Extract text from 'features'

# 1. Word Count

In [4]:
indexes = list(df.index.values.tolist())
values = list(df['features'][indexes])
text_list = []
holder = 0
for i in range(len(values)):
    for ele in values[i]:
        if(len(ele)>50):
            temp = []
            temp = re.split(r'[**]', ele)
            for j in range(len(temp)):
                text_list.append(temp[j])  
        else:
            text_list.append(ele)
        holder += 1   
#Counter(text_list)

In [5]:
text_list1 = list(dict.fromkeys(text_list))
dic_list = [[0 for x in range(len(text_list1))] for y in range(2)] 


for i in range(len(text_list1)):
    temp = text_list1[i]
    dic_list[0][i] = temp
    dic_list[1][i] = (text_list.count(temp))

#print(dic_list[0][0])
#print(int(dic_list[1][0]))

# 2. Word Freq

In [6]:
total_word = 0
for i in range(len(text_list1)):
    total_word += dic_list[1][i]

freq_list = [[0 for x in range(len(text_list1))] for y in range(2)] 
for i in range(len(text_list1)):
    temp = text_list1[i]
    freq = dic_list[1][i]/total_word
    freq_list[0][i] = temp
    freq_list[1][i] = freq
    
#print(freq_list[0][1])
#print(freq_list[1][1])