#### TODO

- need to find missing values for 'created' which are dates
- need to make regular expressions for address feilds (maybe not)
- find out if listing_id & manager_id has missing values
- check if price has missing values

In [3]:
import pandas as pd

In [6]:
td = pd.read_json('data/train.json.zip', compression='zip')

In [25]:
td.head()

,bathrooms,bedrooms,building_id,created,description,display_address,features,interest_level,latitude,listing_id,longitude,manager_id,photos,price,street_address
10,1.5,3,53a5b119ba8f7b61d4e010512e0dfc85,2016-06-24 07:54:24,A Brand New 3 Bedroom 1.5 bath ApartmentEnjoy ...,Metropolitan Avenue,[],medium,40.7145,7211212,-73.9425,5ba989232d0489da1b5f2c45f6688adc,[https://photos.renthop.com/2/7211212_1ed4542e...,3000,792 Metropolitan Avenue
10000,1.0,2,c5c8a357cba207596b04d1afd1e4f130,2016-06-12 12:19:27,,Columbus Avenue,"[Doorman, Elevator, Fitness Center, Cats Allow...",low,40.7947,7150865,-73.9667,7533621a882f71e25173b27e3139d83d,[https://photos.renthop.com/2/7150865_be3306c5...,5465,808 Columbus Avenue
100004,1.0,1,c3ba40552e2120b0acfc3cb5730bb2aa,2016-04-17 03:26:41,"Top Top West Village location, beautiful Pre-w...",W 13 Street,"[Laundry In Building, Dishwasher, Hardwood Flo...",high,40.7388,6887163,-74.0018,d9039c43983f6e564b1482b273bd7b01,[https://photos.renthop.com/2/6887163_de85c427...,2850,241 W 13 Street
100007,1.0,1,28d9ad350afeaab8027513a3e52ac8d5,2016-04-18 02:22:02,Building Amenities - Garage - Garden - fitness...,East 49th Street,"[Hardwood Floors, No Fee]",low,40.7539,6888711,-73.9677,1067e078446a7897d2da493d2f741316,[https://photos.renthop.com/2/6888711_6e660cee...,3275,333 East 49th Street
100013,1.0,4,0,2016-04-28 01:32:41,Beautifully renovated 3 bedroom flex 4 bedroom...,West 143rd Street,[Pre-War],low,40.8241,6934781,-73.9493,98e13ad4b495b9613cef886d79a6291f,[https://photos.renthop.com/2/6934781_1fa4b41a...,3350,500 West 143rd Street

In [26]:
#tmd = td.isnull().sum()
#tmd

In [27]:
bath_series = td[td['bathrooms'] == 0]
bath = bath_series['bathrooms']

bed_series = td[td['bedrooms'] == 0]
bed = bed_series['bedrooms']

bid_series = td[td['building_id'] == '0']
bid = bid_series['building_id']

#created_series = td[td['created'] == '2016-06-11']
#created = created_series['created']
created = td['created']

desc_series_1 = td[td['description'] == ' ']
desc_1 = desc_series_1['description']
desc_series_2 = td[td['description'] == '']
desc_2 = desc_series_2['description']

address_series_1 = td[td['display_address'] == ' ']
address_1 = address_series_1['display_address']
address_series_2 = td[td['display_address'] == '']
address_2 = address_series_2['display_address']

features_series = td['features'].str.len()
#features = features_series['features']

lat_series = td[td['latitude'] == 0]
lat = lat_series['latitude']

lid_series = td['listing_id']
#lid = lid_series['listing_id']

lon_series = td[td['longitude'] == 0]
lon = lon_series['longitude']

mid_series_1 = td[td['manager_id'] == ' ']
mid_1 = mid_series_1['manager_id']

photo_series = td['photos'].str.len()
photos = td['photos']

price_series = td[td['price'] == 0]
price = price_series['price']

s_address_series_1 = td[td['street_address'] == ' ']
s_address_1 = s_address_series_1['street_address']
s_address_series_2 = td[td['street_address'] == '']
s_address_2 = s_address_series_2['street_address']

In [11]:
bath.count()

313

In [12]:
bed.count()

9475

In [13]:
bid.count()

8286

In [14]:
created.count()

49352

In [15]:
desc_1.count()+desc_2.count()

1685

In [16]:
address_1.count()+address_2.count()

137

In [17]:
features_series[features_series == 0].count()

3218

In [18]:
lat.count()

12

In [19]:
#lid_series

In [20]:
lon.count()

12

In [21]:
mid_1

Series([], Name: manager_id, dtype: object)

In [22]:
photo_series[photo_series == 0].count()

3615

In [23]:
price

Series([], Name: price, dtype: int64)

In [24]:
s_address_1.count()+s_address_2.count()

10